.samm{
    background-image: url('../images/h_img.jpg');
    width: 100% !important;
    background-size: contain;
    background-repeat: no-repeat;height: 118vh;
}
.samm h1{
    font-size: 40 !important;
}
.imga1{
    margin-left: 45.5% !important;
    margin-top: 36vh;
}
.samm p{
    font-size: small;
    margin-bottom: 12% !important;
}
.imga2{
    padding-left: 49%;
}
.p11{
    line-height: 30px !important;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}
.samm1{
    background-image: url('../images/s_image.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}
.samm1 .p12{
    line-height: 35px !important;
    margin-bottom: 175px;
}
.samm1 h2{
    margin-top: 95px;
}