*{
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden !important;
    border-collapse: separate;
}
img{
    cursor: pointer;
}
.container,.container-fluid{
    width: 100 !important;
}
.samm{
    background-image: url('../images/h_img.jpg');
    width: 100% !important;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
}
.samm h1{
    font-size: 40 !important;
}
.imga1{
    margin-left: 45.5% !important;
    margin-top: 36vh;
}
.samm p{
    font-size: small;
    margin-bottom: 12% !important;
}
.imga2{
    padding-left: 49%;
}
.p11{
    line-height: 30px !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}
.samm1{
    background-image: url('../images/s_image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}
.samm1 .p12{
    line-height: 35px !important;
    margin-bottom: 175px;
}
.samm1 h2{
    margin-top: 95px;
}
.pimg1{
    margin-left: 21%;
}
.pia{
    margin-left: 23%;
}
.pia1{
    margin-left: 35%;
}
.pia2{
    margin-left: 40%;
}
.pimg3{
    margin-left: 55%;
}
.pimg2{
    margin-left: 39%;
}
.poico1 img,.poico2 img,.poico3 img,.poico4 img,.poico5 img,.poico6 img,.poico7 img,.poico8 img{
    width: 99%;
    margin-bottom: 5vh;
    position: relative;
}

.samm2{
    background-image: url('../images/c_image.jpg');
    background-size: cover;
    height: 90vh !important;
    background-repeat: no-repeat;
    margin-bottom: 1vh !important;
    /* padding-bottom: 20vh !important; */
}
.tfo{
    padding-right: 2% !important;
}
.tfo0{
    margin-left: 18% !important;
}
.qevo{
    margin-left: 20% !important;
    margin-top: 0vh;
    background-color: transparent !important;
    width: 29%;
}
.qevo1{
    margin-left: 2% !important;
    margin-top: 0vh;
    background-color: transparent !important;
    width: 29%;
}
input{
    color: white !important;  
    border: 1px solid white !important;
}
.Qevo1{
    height: 40vh;
    width: 60%;
    background-color: transparent;
    margin-left: 20%;
    line-height: 0;
}
.pi1{
    display: none;
    position: absolute;
    color: white !important;
}
.tto{
    margin-left: 48%;
    background-color: skyblue;
    padding: 1px 1% 1px 1% !important;

}
.show1,.show2,.show3{
    display: none;
}
.poico1a,.poico2a,.poico3a,.poico4a,.poico5a,.poico6a,.poico7a,.poico8a{
    display: none;
}
@media (min-width: 729px){
    .poico1a,.poico5a{
        display: none;
        position: absolute;
        color: white !important;
        background-color: rgba(0, 0, 0, 0.7);
        width: 19.2%;
        margin-left: 0.9%;
        height: 33.2vh;
    }
    .poi{
        margin-top: 2.3vh;
        border: 1px solid white;
        padding: 10.3vh;
    }
    .poico2a,.poico6a{
        display: none;
        position: absolute;
        color: white !important;
        background-color: rgba(0, 0, 0, 0.7);
        width: 19.2%;    
        margin-left: 22%;
        height: 33.2vh;
    }
    .poico3a,.poico7a{
        display: none;
        position: absolute;
        color: white !important;
        background-color: rgba(0, 0, 0, 0.7);    
        width: 19.2%;
        margin-left: 43.1%;
        height: 33.2vh;
    }
    .poico4a,.poico8a{
        display: none;
        position: absolute;
        color: white !important;
        background-color: rgba(0, 0, 0, 0.7);    
        width: 19.2%;
        margin-left: 64.2%;
        height: 33.2vh;
    }
}
@media (max-width: 728px){
.samm{
    margin-bottom: 1vh !important;
    height: 33vh;
    position: relative;
    background-size: cover;
    width: auto;
}
.pimg1,.pimg2,.pimg3{
    margin-left: 38% !important;
}
.pia,.pia1,.pia2{
    text-align: center;
    margin-left: 0;
}
.samm img{
    margin-top: 8vh;
    width: 7%;
}
.samm1{
    background-size: cover;
    /* margin-top: -10vh;
    margin-bottom: -10vh; */
    /* height: 70vh; */
    overflow: hidden;
}
.p12{
    height: 33vh;
}
.tfo0 img{
    width: 10%;
}
.tfo0{
    padding-right: 30%;
    padding-left: 0;
    width: 100%;
}
.samm2{
    height: auto !important;
    background-size: auto;
    margin-bottom: 1vh;
}
.Qevo1{
    height: 20vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

}


